.app-content {
  padding: 5px;
}

.app-content mat-card {
  margin: 5px;
}

.example-h2 {
  margin: 10px 0;
  color: rgba(0,0,0,.54);
}

table{
  width: 100%;
 }
.action-link{
  cursor: pointer;
}
 th.mat-sort-header-sorted {
  color: black;
}
.loader {
  position: absolute;
  z-index: 1;
  margin-left: 50%;
  margin-top: 20%;
}
